<html>
<head>
<title>FER-Dashboard</title>
<script type="text/javascript">
	function submitForm(path) {
		//1. get form obj 
		var form = document.DashboardForm;

		//2.set the path to the form
		form.action = path;

		//3.Submit the form
		form.submit();
	}
</script>
</head>

<body>
	<form name='DashboardForm' method='post'>

		<table border='1' align='center' height='550px' width='800px'>
			<tr>
				<td colspan='2' align='center' height='75px'>Personal finance
					manager &nbsp; &nbsp; &nbsp; User:
					