</td>        
			</tr>
			<tr>
				<td align ='center' width ='150px'>
				<a href="javascript: submitForm('displayBudgetInfo')">Budget</a>
				<br> <br>
				<a href="javascript: submitForm('displayAddExpense')">Add Expense</a>
				<br> <br>
				<a href="javascript: submitForm('displayEditExpenseOptions')">Edit Expense</a>
				<br> <br>
			<a href="javascript: submitForm('displayDeleteExpenseOptions')">Delete Expense</a>
			<br> <br>
				<a href="javascript: submitForm('expenseReportServlet')">Expense Report</a>       
				<br> <br>
				<a href="javascript: submitForm('displayChangePassword')">Reset Password</a>
				<br> <br>
				<a href="javascript: submitForm('displayNameInfo')">Update Profile</a>
			</td> <br> 
				
				<td align ='center'>